# .env.example
DATABASE_URL=
SESSION_SECRET=
ADMIN_LOGIN=
ADMIN_PASSWORD=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
GEMINI_API_KEY=

# Meta Pixel
META_PIXEL_ID=
META_ACCESS_TOKEN=
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=
